@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */

.news-slider .slick-prev {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}

.news-slider .slick-next {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}

.news-slider .slick-prev,
.news-slider .slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 22px;
    height: 22px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/

    cursor: pointer;

    color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    background: transparent;
    z-index: 500;
    opacity: 0.75;

}

 .news-slider .slick-prev:hover,
 .news-slider .slick-prev:focus,
 .news-slider .slick-next:hover,
 .news-slider .slick-next:focus
{
    opacity: 1;
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

 .news-slider .slick-prev:hover:before,
 .news-slider .slick-prev:focus:before,
 .news-slider .slick-next:hover:before,
 .news-slider .slick-next:focus:before
{
    opacity: 1;
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

 .news-slider .slick-prev.slick-disabled:before,
 .news-slider .slick-next.slick-disabled:before
{
    opacity: .20;
}

 .news-slider .slick-prev:before,
 .news-slider .slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .20; /* Originally .75. */

    color: #5f5454;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 .news-slider .slick-prev
{
    left: 10px;
}

[dir='rtl'] .news-slider .slick-prev
{
    right: -25px;
    left: auto;
}

 .news-slider .slick-prev:before
{
    content: '←';
}
[dir='rtl'] .news-slider .slick-prev:before
{
    content: '→';
}

 .news-slider .slick-next
{
    right: 10px;
}
[dir='rtl'] .news-slider .slick-next
{
    right: auto;
    left: -25px;
}
 .news-slider .slick-next:before
{
    content: '→';
}
[dir='rtl'] .news-slider .slick-next:before
{
    content: '←';
}

/* Dots */
 .news-slider .slick-slider
{
    margin-bottom: 30px;
}

 .news-slider .slick-dots
{
    position: absolute;
     bottom: -5px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
}

 .news-slider .slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}


 .news-slider .slick-dots li button
{
    display: none;
}

@media only screen and (min-width: 481px) {
 .news-slider .slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    background: transparent;
}
}

 .news-slider .slick-dots li button:hover,
 .news-slider .slick-dots li button:focus
{
    outline: none;
}
 .news-slider .slick-dots li button:hover:before,
 .news-slider .slick-dots li button:focus:before
{
    opacity: 1;
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.news-slider .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 .news-slider .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
   -webkit-transform: scale(1.2);
    transform: scale(1.2);
   }
}

@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
