{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_news_slider_plus/slider

    Display News Slider Plus

    News content json template

    {
    "news": [
        {"headline":"Headline 1", "message":"Content 1"},
        {"headline":"Headline 1", "message":"Content 2"},
        {"headline":"Headline 1", "content":"Content 3"}
    ]
}
}}

<div id="slider-container" class="style2">

    <div class="slider-banner-top" style="height: 100%">
            <h1 style="text-align:center;">{{title}}</h1>
    </div>

    <div class="multiple-items slider-col">
        {{#news}}
            <div class="news_item">
        
                <figure class="snip1529">
                  <img src="{{{attachedimage_url}}}" />
                  <div class="date"><span class="day">{{{daycreated}}}</span><span class="month">{{{monthcreated}}}</span></div>
                  <figcaption>
                    <h3>{{{subject}}}</h3>
                    <hr>
                    <p>{{shortmessage}}</p>
                  </figcaption>
                  <div class="hover" style="background-color:{{{colour}}};"><i class="fa fa-external-link"></i></div>
                    <a href="{{{link}}}"></a>
                </figure>
                
              


            </div>
        {{/news}}
    </div>

</div>



